.generate-button {
  display: block;
  margin: 0 auto 10px auto; /* 10px top/bottom margin, auto left/right for centering */
  padding: 15px 30px; 
  font-size: 18px; 
  border-radius: 10%; /* Make a perfectly round button */
  background-color: rgb(5, 23, 19); 
  color: white; 
  border: none; 
  cursor: pointer; 
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Add smooth transitions */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.generate-button:hover {
  transform: translateY(-3px); /* Move the button slightly up on hover */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}