.application {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
  }
  
  .app-box {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .application {
      flex-direction: column;
    }
  }

  .wide-textarea {
    width: 90%;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    margin-right: 10px;
    margin-left: 10px;
  }
  
  
  