/* Reset default margins and paddings */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.application {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  font-family: 'Lato', sans-serif; 
}

@media (orientation: portrait) {
  .application {
    flex-direction: column;
  }

  .app-box {
    width: 100vw;
    height: 50vh;
  }
}