/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.application {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
}

.app-box {

  align-items: left;    /* Optional: center content vertically */
  justify-content: center; /* Optional: center content horizontally */
}

@media (orientation: landscape) {
  .application {
    flex-direction: row;
  }

  .app-box {
    width: 50vw;
    height: 100vh;
  }
}

@media (orientation: portrait) {
  .application {
    flex-direction: column;
  }

  .app-box {
    width: 100vw;
    height: 50vh;
  }
}